<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Erro 404 - Parece que você se perdeu</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Não há nada para ver aqui.</p>
            <a href="/">Volte para a civilização</a>
        </LayoutView>
    </NotFound>
</Router>
